page-login {
  .form-content {
    //background-image:url(assets/images/app-bg.png);
    background-size: cover;
    background-color: color($colors, bg-color);


    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    ion-item {
      border-radius: 5px !important;
      padding-left: 15px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      box-shadow: none !important;
      border: 0 !important;
    }

    ion-list{
      margin: 0 !important;
    }

    .theme-outline-btn {
      border: 2px solid color($colors, primary);
      box-shadow: none;
      height: 4.3rem;
      color: color($colors, primary);
      margin-top: 15px;
      background: transparent;
    }
    .keep-sign {
      background: transparent;
      padding-left: 0 !important;
      margin-bottom: 0;
    }
    .margin-bottom-0 {
      margin-bottom: 0;
    }
    .checkbox-ios {
      margin: 0 8px 0 2px !important;
    }
    .keep-sign .label-ios {
      color: color($colors, gray);
    }

    .signup-col {
      padding-bottom: 20px;
    }



    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .theme-btn {
      @include gradientButton();
      border-radius: 5px !important;
      box-shadow: none;
      height: 4.5rem;
    }
    .item-input{
      ion-label{
        position: relative;
        position: relative;
        font-size: 2rem;
        margin: 0.5rem 0;
        color: color($colors, light);
      }
      ion-label::after{
        content: "";
      }
    }
    .forgot-btn {
      color: color($colors, primary);
    }
  }

}
