page-alert-frequency {
  ion-content.content {
    background: color($colors, bg-color);
    background-image:url(../../assets/images/app-bg.png);
    background-size: cover;
  }
  ion-card.card{
    @include borderRadius(10px);
    @include boxShadow(0px 0px 0px rgba(0,0,0,0.0));
    background: #fff;
    border: 0px;
    margin: 0px;
    padding: 0px 0px !important;
    width: calc(100% - 0px);
  }
  button.button-default{
    @include gradientButton();
    width:100%;
    margin-top: 50px;
    margin: 0px;
  }
  button.disable-hover.button.button-ios.button-default.button-default-ios {
    margin-top: 10px;

  }
  .alert{

    h2{ margin-top: 0px;
      margin-bottom: 5px;
    }
    p{ margin-bottom: 0px; font-size:14px; color: #404040; margin-top: 0px;
    }
    .item-block:last-child{
      border-bottom: 0px;
    }
  .border_bottom{
    border-bottom: 1px solid #bcbcbc;
    width: 95%;
    margin: auto;
  }
    .checkbox-ios .checkbox-icon {
      border-radius: 17%;
      border-color: #959595;
    }
    .checkbox-ios-dark .checkbox-checked .checkbox-inner {
      border-color: #022e8d;
    }
    .checkbox-ios-dark .checkbox-checked {
      background-color: transparent;
    }
    .checkbox-ios .checkbox-checked .checkbox-inner {
      left: 7px;
      top: 4px;
      position: absolute;
      width: 6px;
      height: 11px;
      border-width: 2px;
      border-top-width: 0;
      border-left-width: 0;
      border-style: solid;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

}
