<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <ion-buttons start>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="form-content" padding >
  <ion-row class="logo-row">

    <ion-col text-center>
      <img src="assets/images/logo.png" width="260" alt="Logo" />
    </ion-col>

  </ion-row>
  <ion-note *ngIf="hasSentPassword">
    <h3 style="color: #000000;" text-center>New password has been emailed to you</h3>
  </ion-note>
  <div *ngIf="!hasSentPassword" class="login-box">
    <form #passwordForm="ngForm" (ngSubmit)="forgotPassword(passwordForm)">
      <ion-row align-items-center margin-bottom="25">
        <ion-col col-md-6 text-md-center offset-md-3>
          <ion-note><p style="color: #000;">To reset your password, please enter your email address or username below</p></ion-note>
          <ion-list>
            <ion-item>
              <ion-label color="primary"><ion-icon name="person"></ion-icon></ion-label>
              <ion-input ngModel type="text" placeholder="Username or Email " name="userdata" id="userdata" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col class="sign-up-col" col-md-6 offset-md-3>
          <button ion-button class="submit-btn theme-btn" block full type="submit">Reset Password</button>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>






